{%extends "base.html"%}
{%block content%}
<div
class="p-5 text-center bg-image " id="centerimage"
style="
  background-image: url('https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/adidas_ss24_pride_bh_a_d_f95ea108d7.jpg');
  height: 650px;
  margin-top: 10px;
  background-size: cover;
"
>

<h1 class="textforimg">
  LOVE UNITES</h1>
  <br>
<p class="undertext">Lover for equality is love for the game.</p>
<p class="undertext2">Introducing the adidas x Pabllo vittar collection.</p>
<br>
<a href="#" class="imgbtn btn-lg" id="imgbtn">Shop now</a>
</div>
<h1 id="textshoes"><i>Get Some Drip</i></h1>
<div class="card-group">
  <div class="card">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/6e90a0002f92427e8d51aebe013f074f_9366/Gazelle_Indoor_Shoes_Red_H06261_01_standard.jpg" class="card-img-top default" alt="Default Image">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/00e6e408a6bc4a74954caebe013f207e_9366/Gazelle_Indoor_Shoes_Red_H06261_02_standard_hover.jpg" class="card-img-top hover" alt="Hover Image">
          <h5 class="card-title">Gazelle indoor shoes</h5>
          <div class="card-body">
          <a href="/product" class="card-btn">Buy now</a>
      </div>
  </div>
  <br>
  <div class="card">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/844c66f5aa784114b481b174386c627b_9366/Gazelle_Indoor_Shoes_Blue_IG4998_01_standard.jpg" class="card-img-top default" alt="Default Image">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3bc8d5473cf5421398b49486cacad881_9366/Gazelle_Indoor_Shoes_Blue_IG4998_02_standard_hover.jpg" class="card-img-top hover" alt="Hover Image">
          <h5 class="card-title">Gazelle indoor shoes</h5>
      <div class="card-body">
          <a href="/product2" class="card-btn">Buy now</a>
      </div>
  </div>
  <br>
  <div class="card">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/af597595e6bb491b9854ae9601832d61_9366/Gazelle_Indoor_Shoes_Blue_H06260_01_standard.jpg" class="card-img-top default" alt="Default Image">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/140d669250bc46d0ba44ae9601833d5e_9366/Gazelle_Indoor_Shoes_Blue_H06260_02_standard_hover.jpg" class="card-img-top hover" alt="Hover Image">
          <h5 class="card-title">Gazelle indoor shoes</h5>
      <div class="card-body">
          <a href="/product3" class="card-btn">Buy now</a>
      </div>
  </div>
  <br>
  <div class="card">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/cbb49237159140b98e90ed4ff79509d4_9366/Gazelle_Indoor_Shoes_White_IH7502_01_standard.jpg" class="card-img-top default" alt="Default Image">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/92f858eda0554f69bdd443d577fd0dec_9366/Gazelle_Indoor_Shoes_White_IH7502_02_standard_hover.jpg" class="card-img-top hover" alt="Hover Image">
          <h5 class="card-title">Gazelle indoor shoes</h5>
      <div class="card-body">
          <a href="/product4" class="card-btn">Buy now</a>
      </div>
  </div>
  <br>
  <div class="card">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ed067dbb02344f39b71a92803a0c9a1a_9366/Gazelle_Argentina_Shoes_White_ID3718_01_standard.jpg" class="card-img-top default" alt="Default Image">
    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9e9d998017bc429e887cada4945a7dfd_9366/Gazelle_Argentina_Shoes_White_ID3718_02_standard_hover.jpg" class="card-img-top hover" alt="Hover Image">
          <h5 class="card-title">Gazelle indoor shoes</h5>
      <div class="card-body">
          <a href="/product5" class="card-btn">Buy now</a>
      </div>
  </div>
  </div>
</div>
<br>
<div class="jumbotron">
  <div class="jumbotron-content">
      <h1>Impossible is Nothing.</h1>
      <h2>Unleash Your Potential.</h2>
  </div>
</div>
<h1 id="textshoes">Best Sellers</h1>
<div class="card-group">
  <div class="card">
      <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/617921e1d5be4abe910417b155b5d3f5_9366/Arsenal_24-25_Home_Authentic_Jersey_Red_IT6140_HM1.jpg" class="card-img-top default" alt="Default Image">
      <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/af43cf0ebc674943aec930d544c7f435_9366/Arsenal_24-25_Home_Authentic_Jersey_Red_IT6140_HM5.jpg" class="card-img-top hover" alt="Hover Image">
      <div class="card-body">
          <h5 class="card-title">Arsenal 24/25 Home Authenitic Jersey </h5>
          <a href="/productbotm" class="card-btn">Buy now</a>
      </div>
  </div>
  <br>
  <div class="card">
      <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/bfcea7fce3d549d9a7dabc557474ec0f_9366/Iconic_Wrapping_3-Stripes_Snap_Trackpant_Black_IN1833_21_model.jpg" class="card-img-top default" alt="Default Image">
      <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ed626fa81a59475f8d0f4921e4d9e945_9366/Iconic_Wrapping_3-Stripes_Snap_Trackpant_Black_IN1833_23_hover_model.jpg" class="card-img-top hover" alt="Hover Image">
      <div class="card-body">
          <h5 class="card-title">Iconic Wrapping 3-Stripes Snap Ttrackpant</h5>
          <a href="/productbotm2" class="card-btn">Buy now</a>
      </div>
  </div>
  <br>
  <div class="card">
      <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/9ea6fa4647874f21a81a7776868c536f_9366/Inter_Miami_CF_24-25_Messi_Home_Jersey_Kids_Pink_JE9743_02_laydown.jpg" class="card-img-top default" alt="Default Image">
      <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7493c77bf36b441882308a57a7225185_9366/Inter_Miami_CF_24-25_Messi_Home_Jersey_Kids_Pink_JE9743_01_laydown_hover.jpg" class="card-img-top hover" alt="Hover Image">
      <div class="card-body">
          <h5 class="card-title">Adidas Messi Inter Miami Jersey</h5>
          <a href="/productbotm3" class="card-btn">Buy now</a>
      </div>
  </div>
  <br>
  <div class="card">
      <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/2c817b23becc40c49edce727fe0c21c0_9366/Argentina_1994_Away_Jersey_Blue_IS0266_HM1.jpg" class="card-img-top default"  alt="Default Image">
      <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7db6a53e75aa45b4a16dce9c3b41c2aa_9366/Argentina_1994_Away_Jersey_Blue_IS0266_HM3_hover.jpg" class="card-img-top hover" alt="Hover Image">
      <div class="card-body">
          <h5 class="card-title">Blue Argentina 1994 Away Jersey</h5>
          <a href="/productbotm4" class="card-btn">Buy now</a>
      </div>
  </div>
  <br>
  <div class="card">
      <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/cbcbb34496cf42e29e6aac9f006713ab_9366/Prime_Backpack_Black_EX6948_01_standard.jpg" class="card-img-top default" alt="Default Image">
      <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3f6787bdf7ea422c948aac9f006b21de_9366/Prime_Backpack_Black_EX6948_02_standard.jpg" class="card-img-top hover" alt="Hover Image">
      <div class="card-body">
          <h5 class="card-title">Adidas Black Prime Backpack</h5>
          <a href="/productbotm5" class="card-btn">Buy now</a>
      </div>
  </div>
  </div>
</div>
<div class="card-groupbottom">
    <div class="card1">
      <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/xcat_ss24_fathersday_group_1_tcc_d_e8809cdba7.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>The Father's Day Gift Guide</b></h5>
        <p class="card-text">All the essentials dad needs.</p>
      </div>
    </div>
    <div class="card1">
      <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/originals_ss24_adicolor_green_glpw_tcc_d_3c31a4876d.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>AN ADICOLOR STORY</b></h5>
        <p class="card-text">Paint it green.</p>
      </div>
    </div>
    <div class="card1">
      <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/originals_ss24_franchise_toolkit_orange_superstar_tcc_1_d_e497c50c7f.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>SUPERSTAR</b></h5>
        <p class="card-text">Style that steels the show.</p>
      </div>
    </div>
  </div>
{%endblock%}
