{%extends "base.html"%}
{%block content%}
<img src="https://preview.thenewsmarket.com/Previews/ADID/StillAssets/1920x1080/646034_v2.jpg" alt="" id="aboutimg">
    <h2 id="aditext">At Abibas, we believe in blending style, performance, and innovation to create high-quality products that fit your lifestyle. Our mission is to inspire individuals to push their limits and embrace their unique journey with confidence.</h2>
    <h2 id="aditext">Driven by a passion for excellence, we focus on delivering products that combine cutting-edge design with functionality. Whether you're hitting the gym, the streets, or just enjoying everyday comfort, Abibas is here to support you every step of the way.</h2>
    <h2 id="aditext">Join us as we redefine the future of fashion and performance—one step at a time.</h2>
<style>
    #aboutimg{
        width: 90vh;
        width: 218vh;
    }
    #aditext{
        color: black;
    }
</style>
{%endblock%}
