{%extends "base.html"%}
{%block content%}
<br>
<br>
<br>
<h1>New stuff is about to drop, Stay Tuned!</h1>
<div class="card-groupbottom">
    <div class="card1">
      <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_800,w_800/Winter_Shop24_JACKETS_1050x1400_f0c158dc55.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Embrace the elements</b></h5>
        <p class="card-text">Our news jackets will see you through winter, whatever the weather. Comming out this month! </p>
      </div>
    </div>
    <div class="card1">
      <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_800,w_800/jp_mita_radlander_originals_ss25_educate_hp_card_asset_3e427d1e2a.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>RADLANDER Mita</b></h5>
        <p class="card-text">Introducing a pair of RADLANDER EQT, supervised by mita Sneakers, which was released in the late 1990s and recently made a comeback, featuring a large shoelace flap that covers the shoelaces.</p>
      </div>
    </div>
    <div class="card1">
      <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_800,w_800/running_ss25_supernova_global_introduce_m_glp_navigation_card_teaser_d_c3a71730df.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>SUPERNOVA RISE 2</b></h5>
        <p class="card-text">Daily shoes that lead to comfortable running. Driving comfort is outstanding. Supernova.</p>
      </div>
    </div>
  </div>
{%endblock%}